﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="View.ascx.cs" Inherits="Christoc.Modules.GitTest1.View" %>

<h2>Test Module</h2>

<p>Some information about this page: </p>
<asp:Label runat="server" ID="text4"></asp:Label> <br />

<asp:Label runat="server" ID="text1"></asp:Label> <br />
<asp:Label runat="server" ID="text2"></asp:Label> <br />
<asp:Label runat="server" ID="text3"></asp:Label> <br />
<asp:Label runat="server" ID="text5"></asp:Label> <br />
